@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #28272a;
  background-color: #fdfcfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-bg-1: #fdfcfd;
  --color-bg-2: #f9f9fa;

  --color-component-1: #e4f0ff;
  --color-component-2: #d9e8ff;
  --color-component-3: #e0dfe3;

  --color-border-1: #d7d6db;
  --color-border-2: #cbc9d0;
  --color-border-3: #b7b5be;

  --color-primary-1: #53b7e8;
  --color-primary-2: #46acdc;

  --color-secondary-1: #f8fcff;
  --color-secondary-2: #f1f9ff;
  --color-secondary-3: #e4f0ff;
  --color-secondary-4: #d9e8ff;
  --color-secondary-5: #cee1ff;
  --color-secondary-7: #b4cdff;
  --color-secondary-8: #98b9ff;
  --color-secondary-9: #6688e8;
  --color-secondary-10: #5c7dda;
  --color-secondary-11: #445fac;
  --color-secondary-12: #0d1a4a;

  --color-text-1: #66646b;
  --color-text-2: #28272a;
}

li {
  @apply cursor-pointer;
}
button {
  @apply cursor-pointer;
}

.card {
  @apply bg-gradient-to-br from-secondary-2 px-10 py-5 border border-secondary-11 rounded-lg;
}

.title {
  @apply font-bold text-primary-2 text-4xl;
}

.button {
  @apply bg-primary-1 text-white px-5 py-2 rounded-lg hover:bg-primary-2 transition duration-300 ease-in-out;
}
